spring:
  application:
    name: budget

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5433/budget_dev}
    username: ${SPRING_DATASOURCE_USERNAME:budget_user}
    password: ${SPRING_DATASOURCE_PASSWORD:dev_password}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yml

  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true

  jmx:
    enabled: true

server:
  port: 8083

logging:
  level:
    pyc.lopatuxin.budget: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    liquibase: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env
    jmx:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always