spring:
  application:
    name: gateway

server:
  port: 8082

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env
  endpoint:
    health:
      show-details: always

logging:
  level:
    pyc.lopatuxin.gateway: INFO
    org.springframework.cloud.gateway: INFO
    org.springframework.security: INFO
